<div class="card block">
  <header class="card-header">
    <% if local_assigns[:index_user] %>
      <p class="title">
        <% if logged_in? %>
          <%= link_to recipe_path(recipe) do %>
            <span class="is-size-4 has-text-weight-bold"><%= recipe.title %></span>
          <% end %>
        <% else %>
          <span class="is-size-4 has-text-weight-bold"><%= recipe.title %></span>
        <% end %>
      </p>
    <% end %>
  </header>
  <div class="card-content">
    <div class="content">
      <%= recipe.description %>
    </div>
    <% if logged_in? && !local_assigns[:index_user] %>
      <div class="content">
        <p class="is-size-4 has-text-weight-bold">Instructions:</p>
        <%= render 'instructions/set_instructions', recipe: recipe %>
        <% if equal_with_current_user?(recipe.user) %>
          <%= link_to edit_instructions_path(recipe), class: 'card-footer-item has-text-weight-bold is-italic' do %>
            <span>Edit Instructions</span>
          <% end %>
        <% end %>
      </div>
      <div class="box is-half">
        <article class="media">
          <div class="media-left">
            <p class="is-size-4 has-text-weight-bold">Ingredients:</p>
            <%= render 'ingredients/list_ingredients', recipe: recipe %>
            <% if equal_with_current_user?(recipe.user) %>
              <%= link_to edit_ingredients_path(recipe), class: 'card-footer-item has-text-weight-bold is-italic' do %>
                <span>Edit Ingredients</span>
              <% end %>
            <% end %>
          </div>
        </article>
      </div>
    <% end %>
  </div>
  <nav class="level">
    <div class="level-left">
      <span class="is-size-7 is-italic"> &nbsp;Created:
        <%= recipe.created_at.localtime.strftime("%B %d, %Y") %>
      </span>
    </div>
    <% unless equal_with_current_user?(recipe.user) %>
    <div class="level">
      <strong>
        <span class="is-size-6 is-italic"> &nbsp;Created by:
          <%= link_to "#{recipe.user.first_name} #{recipe.user.last_name}", recipe.user %>
        </span>
      </strong>
    </div>
    <% end %>
    <div class="level-right">
      <span class="is-size-7 is-italic">Edited:
        <%= recipe.updated_at.localtime.strftime("%B %d, %Y") %> &nbsp;
      </span>
    </div>
  </nav>
  <footer class="card-footer">
    <% if logged_in? && equal_with_current_user?(recipe.user) %>
      <% unless local_assigns[:index_user] %>
          <%= link_to root_path, class: 'card-footer-item has-text-weight-bold' do %>
            <span>Home</span>
          <% end %>
      <% else %>
        <%= link_to recipe_path(recipe), class: 'card-footer-item has-text-weight-bold' do %>
          <span>Show</span>
        <% end %>
      <% end %>

      <%= link_to edit_recipe_path(recipe), class: 'card-footer-item has-text-weight-bold' do %>
        <span>Edit</span>
      <% end %>

      <%= link_to recipe_path(recipe), class: 'card-footer-item has-text-weight-bold',
        method: :delete, data: { confirm: 'Are you sure you want to delete this recipe?' } do %>
        <span>Delete</span>
      <% end %>
    <% elsif logged_in? %>
      <% unless local_assigns[:index_user] %>
        <%= link_to root_path, class: 'card-footer-item has-text-weight-bold' do %>
          <span>Home</span>
        <% end %>
      <% else %>
        <%= link_to recipe_path(recipe), class: 'card-footer-item has-text-weight-bold' do %>
          <span>Show</span>
        <% end %>
      <% end %>
    <% end %>
  </footer>
</div>
