<div class="container">
  <div class="columns is-multiline">
    <div class="user column is-6 is-offset-3 has-text-centered">
      <ul class="has-text-weight-bold is-italic">
        <li class="title">
          Full name: <%= "#{@user.first_name} #{@user.last_name}" %>
        </li>
        <li class="title">
          Username: <%= "#{@user.username}" %>
        </li>
        <li class="title">
          e-mail: <%= "#{@user.email}" %>
        </li>
      </ul>
      <br>
      <div class="title">
        <%= link_to 'Home', root_path, class: 'button is-light has-text-weight-bold' %>
      </div>
    </div>
    <div class="user_recipes column is-6 is-offset-3 has-text-centered">
      <% if @user.recipes.count != 0 %>
        <div class="title">
          <% if equal_with_current_user?(@user) %>
            You have
          <% else %>
            <%= "#{@user.first_name} " %>have
          <% end %>
          <i><%= pluralize(@user.recipes.count, "Recipe") %></i>
        </div>
        <div class="has-text-weight-bold is-italic">
          <% count = 0 %>
            <% @user.recipes.each do |recipe| %>
            <% if recipe.user == @user %>
              <ul>
                <% count += 1 %>
                <li><%= link_to "#{count}. #{recipe.title}", recipe_path(recipe) %></li>
              </ul>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="title">
                  <% if equal_with_current_user?(@user) %>
            You don't have <i>Recipes</i> yet.
          <% else %>
            <%= "#{@user.first_name} " %>don't have <i>Recipes</i>.
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
