<div class="container">
  <div class="columns is-multiline">
    <div class="user column is-6 is-offset-3 has-text-centered">
      <ul class="has-text-weight-bold is-italic">
        <li class="title">
          Full name: <%= "#{@user.first_name} #{@user.last_name}" %>
        </li>
        <li class="title">
          Username: <%= "#{@user.username}" %>
        </li>
        <li class="title">
          e-mail: <%= "#{@user.email}" %>
        </li>
      </ul>
      <br>
      <div class="title">
        <%= link_to 'Home', root_path, class: 'button is-light has-text-weight-bold' %>
      </div>
    </div>
    <div class="user_recipes column is-6 is-offset-3 has-text-centered">
      <% if @user.recipes.count != 0 %>
        <div class="title">
          You have:
          <%= pluralize(@user.recipes.count, "Recipe") %>
        </div>
        <ul class="has-text-weight-bold is-italic">
          <% @user.recipes.each do |recipe| %>
            <% if recipe.user == @user %>
              <li>
                <%= link_to "#{recipe.title}", recipe_path(recipe) %>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% else %>
        <div class="title">
          You don't have own <i>Recipes</i> yet.
        </div>
      <% end %>
    </div>
  </div>
</div>
