<nav class="navbar is-spaced is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <strong><%= link_to 'Delicious Recipes', root_path, class: 'navbar-item is-size-2 is-italic' %></strong>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navBar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navBar" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if logged_in? %>
            <%= link_to 'Add Recipe', new_recipe_path, class: 'button is-primary has-text-weight-bold' %>
            <%= link_to 'My Recipes', user_recipes_path(current_user), class: 'button is-info has-text-weight-bold' %>
            &nbsp &nbsp
            <%= link_to 'My Profile', user_path(current_user), class: 'button is-light has-text-weight-bold' %>
            <%= link_to 'Sign out', logout_path, method: :delete, class: 'button is-danger has-text-weight-bold' %>
          <% else %>
            <%= link_to 'Sign in', login_path, class: 'button is-primary has-text-weight-bold' %>
            <%= link_to 'Sign up', users_signup_path, class: 'button is-primary has-text-weight-bold' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
