<nav class="navbar is-spaced is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <strong><%= link_to 'Delicious Recipes', root_path, class: 'navbar-item is-size-2 is-italic' %></strong>
  </div>

  <div id="navBar" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if logged_in? %>
            <%= link_to 'Add Recipe', new_recipe_path, class: 'button is-primary has-text-weight-bold' %>
            <%= link_to 'Sign out', logout_path, method: :delete, class: 'button is-primary has-text-weight-bold' %>
          <% else %>
            <%= link_to 'Sign in', login_path, class: 'button is-primary has-text-weight-bold' %>
            <%= link_to 'Sign Up', users_signup_path, class: 'button is-primary has-text-weight-bold' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
