<!DOCTYPE html>
<html>
  <head>
    <title>DeliciousRecipes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <%= render 'shared/nav_bar' %>
        <br>
        <h2 class="subtitle">
          <%= yield %>
        </h2>
      </div>
    </section>
  </body>
</html>
